<!-- templates/404.html -->
<head>
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Girassol|Noticia+Text|Permanent+Marker|Righteous&display=swap" rel="stylesheet">

  <style>

    h1 {
        font-family: 'Righteous', cursive;
        font-size: 40pt;
      }

  .center {
    margin: 0 auto;
    color: #5a3c3c;
    text-align: center;
    }

  .bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9px;
    width: 100%;
}

  h1 a {
      font-family: 'Righteous', cursive;
      color: : black;
      margin: 0 auto;
    }

  </style>

<!-- ABOVE IS CSS/BELOW IS HTML -->

</head>

<body>
  <img src="https://i.imgur.com/DHeTAtH.jpg" class='bg'>
  <h1 class = "center">This page does not exist!</h1>
</body>
